.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: .5rem;
}

.header ul {
    display: flex;
    padding: 0;
    margin-bottom: 0;
}

.header ul li {
    list-style: none;
    margin: 0;
    padding: .5rem 1rem;
    border-radius: 3px;
    cursor: pointer;
}

.header ul li:hover {
    background-color: #444;
}